a {
  display: inline-block;
  text-decoration: none;
}

figure {
  margin: 0;

  img {
    width: 5rem;
    max-width: 100%;

    @media only screen and (min-width: 900px) {
      width: 8rem;
    }
  }
}
